[Unit]
Description=SocketCAN Interface Setup
Documentation=https://github.com/vtoxi/pidrivesmartos
After=network.target
Before=obdsvc.service

[Service]
Type=oneshot
ExecStart=/opt/pidrive/bin/setup_socketcan.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

